<h1><%= User.email %>
	<div class="float-right">
		<%- pie.Helper.Html.link('[edit]', { 'action': 'edit', 'id' : User.id }) %>
		<%- pie.Helper.Html.link('[delete]', { 'action': 'remove', 'id' : User.id }) %>
	</div>
</h1>
<h3>Sites</h3>

<table class='related'>
<tr>
    <th>URL</th>
    <th>Frequency</th>
    <th>Pattern</th>
</tr>
<% User.Site.forEach(function(site) { %>
	<tr>
		<td><%- pie.Helper.Html.link(site.url, { 'controller' : 'sites', 'action' : 'view', 'id' : site.id }) %></td>
		<td><%= site.frequency %></td>
        <td><%= site.pattern %></td>
	</tr>
<% }) %>
</table>
