<%- pie.Helper.Form.create() %>
	<%- pie.Helper.Form.input('protocol') %>
    <%- pie.Helper.Form.input('host') %>
    <%- pie.Helper.Form.input('port') %>
    <%- pie.Helper.Form.input('path') %>
	<%- pie.Helper.Form.input('frequency') %>
<%- pie.Helper.Form.end('Add Site') %>
<div class="clear-left"></div>
