<%- pie.Helper.Form.create() %>
	<%- pie.Helper.Form.input('id') %>
	<%- pie.Helper.Form.input('url') %>
	<%- pie.Helper.Form.input('user_id') %>
	<%- pie.Helper.Form.input('frequency') %>
    <%- pie.Helper.Form.input('pattern') %>
<%- pie.Helper.Form.end('Edit Site') %>
<div class="clear-left"></div>
