<h1><%= Site.host %>
	<div class="float-right">
		<%- pie.Helper.Html.link('[edit]', { 'action': 'edit', 'id' : Site.id }) %>
		<%- pie.Helper.Html.link('[delete]', { 'action': 'remove', 'id' : Site.id }) %>
	</div>
</h1>

<div class="clear-both"></div>
<p><%= Site.protocol %>://<%= Site.adress %>:<%= Site.port %><%= Site.path %> checked every <%= Site.frequency %> seconds</p>

<h3>Checks</h3>

<table class='related'>
<tr>
    <th>Date</th>
    <th>Status</th>
    <th>Latency</th>
</tr>
<% Site.Check.forEach(function(check) { %>
	<%  var status = 'failed'; if(check.status == 200){status = 'passed';} %>
	<tr class="<%= status %>">
		<td><%= new Date(check.date) %></td>
		<td><%= check.status %></td>
        <td><%= check.latency %></td>
	</tr>
<% }) %>
</table>
